﻿@{ 
    ViewBag.Title = "Exception Occured";
}
<h4>Exception Occured: </h4><hr />
<h5>@ViewBag.ExceptionPath</h5><hr />
<h5>@ViewBag.ExceptionMessage</h5><hr />
<h5>@ViewBag.ExceptionStrackTrace</h5>