﻿@model HomeDetailsViewModel

@{
    //Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Employee Details";
    var filePath = "~/images/" + (!string.IsNullOrEmpty(Model.Employee.PhotoPath) ? Model.Employee.PhotoPath : "No-Image.jpg");
}


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header"><h2>@Model.Employee.Name</h2></div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@filePath"  asp-append-version="true" alt="Employee image">
                <h4>EmployeeId: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-1">Back</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    </div>
</div>


@*<div>
        <h2>Using ViewData</h2>
        <h3>@ViewData["PageTitle"]</h3>
        @{
        var employee = ViewData["Employee"] as Employee;
        }
        <div>Name: @employee.Name</div>
        <div>Email: @employee.Email</div>
        <div>Department: @employee.Department</div>

        <hr />

        <h2>Using Viewbag</h2>
        <h3>@ViewBag.Title</h3>
        <div>Name: @ViewBag.Employee.Name</div>
        <div>Email: @ViewBag.Employee.Email</div>
        <div>Department: @ViewBag.Employee.Department</div>


    </div>*@


@section Scripts{
    <script src="~/js/custom.js"></script>
}
