﻿@model int

@{ 
    ViewBag.Title = "Error 404";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error: </h4>
    <hr />
    <h5>Employee with Id = @Model could not be found.</h5>
</div>
<a asp-action="index" asp-controller="Home" class="btn btn-outline-success" style="width: auto">
    See all employees
</a>