﻿@model IEnumerable<Employee>

@{
    //Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Employee List";
}


<div class="row">
        @foreach (var employee in Model)
        {
            var filePath = "~/images/" + (!string.IsNullOrEmpty(employee.PhotoPath) ? employee.PhotoPath : "No-Image.jpg");
            <div class="card m-3">
                <div class="card-header">
                    <h3>@employee.Name</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@filePath" asp-append-version="true" alt="Employee image">
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary m-1">View</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
</div>




